@{
    ViewBag.Title = "Home Page";
}

<style>

    .button {
        background-color: #070505;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 8px;
        display: inline-block;
    }
    .button-container form,
    .button-container form div {
        display: inline;
        width:50%;
        vertical-align:middle;
    }

    .button-container button {
        display: inline;
        vertical-align: middle;
    }
    
</style>

<h1 style="font-family:'Trebuchet MS'">Vidly</h1>

<p style="font-size:medium; font-family:'Century Gothic'">
    Welcome to Vidly!, Here we have a collection of Various Movies for Rent! Sign Up and grab various discounts!
</p>

<div class="button-container" style="align-items :center ">
    @using (Html.BeginForm("Customers", "Customer"))
    {
        <button type="submit" class="button inner">Customers</button>
    }
    @using (Html.BeginForm("Movies", "Movies"))
    {
        <button type="submit" class="button inner">Movies</button>
    }

</div>
